.Main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.pic{
    flex: 1 1 20vw;
    max-width: 400px;
}
.pic img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
}
.content{
    flex: 2;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1.5rem;
}
.title{
    font-size: calc(2rem + 2vw);
    color: #c66aff;
    font-family: system-ui, sans-serif;
}
.mainp{
    font-size: calc(1rem + 1vw);
    line-height: 1.6;
    font-family: system-ui, sans-serif;
}