/* width */
::-webkit-scrollbar {
    width: 10px;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-top: 1vh;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(45deg, #c66aff, #ff5b5b);
}
.container{
    width: 100%;
    height: calc(100vh - 60px);
    overflow: hidden;
}
.pages{
    display: flex;
    width: 405vw;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 2.5vw;
    padding-left: 2.5vw;
    gap: 5vw;
}
.page {
    width: 95vw;
    height: 95%;
    gap: 2vw;
    transition: all 0.7s;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.61);
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.723);
    color: white;
    padding: 2vw;
    flex-shrink: 0;
}
nav{
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.61);
    border-radius: 20px;
    height: 60px;
    width: 95vw;
    margin: 0 auto;
    padding: 5px 2%;
    background-color: rgba(0, 0, 0, 0.356);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
nav ul{
    gap: 1vw;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}
.tab{
    flex: 1;
    height: 100%;
    align-content: center;
    text-align: center;
    font-size: clamp(1rem, calc(1rem + 1vw), 1.5rem);
    background-color:#00000034;
    border-radius: 10px;
    transition: all 0.5s ease;
}
.tab:hover{
    background-color:#0000006b;
}
.tab a{
    display: block;
}
.tab.active{
    flex: 1.5;
    background-color: rgba(0, 0, 0, 0.623);
    transition: all 0.5s ease;
}
a,a:visited{
    font-family: system-ui, sans-serif;
    text-decoration: none;
    color: white;
}
.Main{
    display: flex;
    flex-direction: row;
    overflow: auto;
    align-items: center;
    justify-content: center;
}
.pic{
    flex: 1 1 20vw;
    max-width: 400px;
}
.pic img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
}
.content{
    flex: 2;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1.5rem;
}
.title{
    font-size: calc(2rem + 2vw);
    color: #c66aff;
    font-family: system-ui, sans-serif;
}
.mainp{
    font-size: calc(1rem + 1vw);
    line-height: 1.6;
    font-family: system-ui, sans-serif;
}
.next,.prev{
    border: #c66aff solid 3px;
    background: transparent;
    font-family: system-ui, sans-serif;
    color: white;
    padding: 1rem 1rem;
    font-size: clamp(1rem, calc(1rem + 1vw), 1.5rem);
    cursor: pointer;
    transition: all 0.2s;
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.next{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    align-self: flex-end;
}
.prev{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    align-self: flex-start;
}
.next:hover{
    border: none;
    background-color: #ff5b5b;
    transform:translate(5px, -5px);
    box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.295);
}
.prev:hover{
    border: none;
    background-color: #ff5b5b;
    transform:translate(-5px, -5px);
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.295);
}
.about{
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.bullets h2, .me h2 , .goal h2{
    color: #c66aff;
}
.me, .goal, .bullets{
    width: 100%;
    font-size: calc(1rem + 0.8vw);
    font-family: system-ui, sans-serif;
}
.bullets{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.bullets ul, .goal ul{
    padding-left: 3vw;
}
.goal ul{
    list-style-type: square;
}
.me p{
    padding-left: 2vw;
}
.buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}