*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    padding-top: 1vh;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(45deg, #c66aff, #ff5b5b);
}
.container{
    width: 100%;
    height: calc(100vh - 60px);
    overflow: hidden;
}
.pages{
    display: flex;
    width: 500vw;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 2.5vw;
    padding-left: 2.5vw;
    gap: 5vw;
}
.page {
    width: 95vw;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    transition: all 0.7s;
    border: 3px rgba(0, 0, 0, 0.178) solid;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.61);
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.723);
    color: white;
    padding: 2vw;
    flex-shrink: 0;
}
nav{
    border: black solid 2px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.61);
    border-radius: 20px;
    height: 60px;
    width: 95vw;
    margin: 0 auto;
    padding: 0 5%;
    background-color: rgba(0, 0, 0, 0.356);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
nav ul{
    gap: 1vw;
    width: 100%;
    height: 100%;
    border: black solid 2px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.tab{
    flex: 1;
    border: black solid 2px;
    align-content: center;
    text-align: center;
    color: white;
    font-size: clamp(1rem, calc(1rem + 1vw), 1.5rem);
    background-color:;
}
a,a:visited{
    text-decoration: none;
    color: white;
}
.Main{
    display: flex;
    flex-direction: row;
    overflow: auto;
}
.pic{
    flex: 1 1 20vw;
    max-width: 400px;
}
.pic img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
}
.content{
    flex: 2;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1.5rem;
}
.title{
    font-size: calc(2rem + 2vw);
    color: #ffb300;
    font-family: system-ui, sans-serif;
}
p{
    font-size: calc(1rem + 1vw);
    line-height: 1.6;
    font-family: system-ui, sans-serif;
}
.next,.prev{
    background: #4ecdc4;
    color: white;
    border: none;
    padding: 1rem 1rem;
    font-size: clamp(1rem, calc(1rem + 1vw), 1.5rem);;;
    cursor: pointer;
    transition: all 0.2s;
    width: 180px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.next{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    align-self: flex-end;
}
.prev{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    align-self: flex-start;
}
.next:hover{
    background-color: #ffb300;
    transform:translate(5px, -5px);
    box-shadow: -5px 10px 10px black;
}
.prev:hover{
    background-color: #ffb300;
    transform:translate(5px, -5px);
    box-shadow: 5px 10px 10px black;
}